$primary-color: #307cf4 !default;
$warning-color: #f1a151 !default;
$danger-color: #f5222d !default;
$success-color: #52c41a !default;
$info-color: #a5a7ac !default;
:root {
  --c-default-color: #{lighten($color: $primary-color, $amount: 20%)};

  // primary
  --c-primary-color: #{$primary-color};
  --c-primary-active-color: #{darken($color: $primary-color, $amount: 15%)};
  --c-primary-hover-color: #{lighten($color: $primary-color, $amount: 2%)};
  --c-primary-focus-shadow-color: #{lighten(
      $color: $primary-color,
      $amount: 35%
    )};
  --c-primary-disabled-color: #{lighten($color: $primary-color, $amount: 20%)};
  // warning
  --c-warning-color: #{$warning-color};
  --c-warning-active-color: #{darken($color: $warning-color, $amount: 15%)};
  --c-warning-hover-color: #{lighten($color: $warning-color, $amount: 2%)};
  --c-warning-focus-shadow-color: #{lighten(
      $color: $warning-color,
      $amount: 35%
    )};
  --c-warning-disabled-color: #{lighten($color: $warning-color, $amount: 20%)};
  // danger
  --c-danger-color: #{$danger-color};
  --c-danger-active-color: #{darken($color: $danger-color, $amount: 15%)};
  --c-danger-hover-color: #{lighten($color: $danger-color, $amount: 2%)};
  --c-danger-focus-shadow-color: #{lighten($color: $danger-color, $amount: 35%)};
  --c-danger-disabled-color: #{lighten($color: $danger-color, $amount: 20%)};
  // success
  --c-success-color: #{$success-color};
  --c-success-active-color: #{darken($color: $success-color, $amount: 15%)};
  --c-success-hover-color: #{lighten($color: $success-color, $amount: 2%)};
  --c-success-focus-shadow-color: #{lighten(
      $color: $success-color,
      $amount: 35%
    )};
  --c-success-disabled-color: #{lighten($color: $success-color, $amount: 20%)};
  // info
  --c-info-color: #{$info-color};
  --c-info-active-color: #{darken($color: $info-color, $amount: 15%)};
  --c-info-hover-color: #{lighten($color: $info-color, $amount: 2%)};
  --c-info-focus-shadow-color: #{lighten($color: $info-color, $amount: 35%)};
  --c-info-disabled-color: #{lighten($color: $info-color, $amount: 20%)};

  --c-plain-primary-color: #{mix(
      $color1: $primary-color,
      $color2: #ffffff,
      $weight: 10%
    )};
  --c-plain-warning-color: #{mix(
      $color1: $warning-color,
      $color2: #ffffff,
      $weight: 10%
    )};
  --c-plain-danger-color: #{mix(
      $color1: $danger-color,
      $color2: #ffffff,
      $weight: 10%
    )};
  --c-plain-success-color: #{mix(
      $color1: $success-color,
      $color2: #ffffff,
      $weight: 10%
    )};
  --c-plain-info-color: #{mix(
      $color1: $info-color,
      $color2: #ffffff,
      $weight: 10%
    )};
}

.c-spin-animation {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
