:root {
  --c-default-color: #91b9f9;
  --c-primary-color: #307cf4;
  --c-primary-active-color: #0b56cd;
  --c-primary-hover-color: #3a82f5;
  --c-primary-focus-shadow-color: #d9e7fd;
  --c-primary-disabled-color: #91b9f9;
  --c-warning-color: #f1a151;
  --c-warning-active-color: #e37b12;
  --c-warning-hover-color: #f2a65a;
  --c-warning-focus-shadow-color: #fefaf6;
  --c-warning-disabled-color: #f9d4af;
  --c-danger-color: #f5222d;
  --c-danger-active-color: #c20912;
  --c-danger-hover-color: #f52c36;
  --c-danger-focus-shadow-color: #fdcdcf;
  --c-danger-disabled-color: #f9848a;
  --c-success-color: #52c41a;
  --c-success-active-color: #368011;
  --c-success-hover-color: #56cd1b;
  --c-success-focus-shadow-color: #baf29e;
  --c-success-disabled-color: #8ae95b;
  --c-info-color: #a5a7ac;
  --c-info-active-color: #7d8087;
  --c-info-hover-color: #aaacb1;
  --c-info-focus-shadow-color: white;
  --c-info-disabled-color: #dadbdd;
  --c-plain-primary-color: #eaf2fe;
  --c-plain-warning-color: #fef6ee;
  --c-plain-danger-color: #fee9ea;
  --c-plain-success-color: #eef9e8;
  --c-plain-info-color: #f6f6f7;
}

.c-spin-animation {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.c-button {
  --c-button-padding: 0 14px;
  --c-button-height: 36px;
  --c-button-border-radius: 4px;
  --c-button-text-color: #ffffff;
  --c-button-border-color: #d9d9d9;
  --c-button-width: auto;
  --c-button-font-size: 14px;
  --c-button-plain-primary-bg-color: var(--c-plain-primary-color);
  --c-button-plain-warning-bg-color: var(--c-plain-warning-color);
  --c-button-plain-danger-bg-color: var(--c-plain-danger-color);
  --c-button-plain-success-bg-color: var(--c-plain-success-color);
  --c-button-plain-info-bg-color: var(--c-plain-info-color);
  --c-button-shadow-color: #00000000;
}

.c-button + .c-button {
  margin: 12px;
}

.c-button {
  margin: 0;
  line-height: 1;
  font-family: inherit;
  white-space: nowrap;
  outline: none;
  position: relative;
  z-index: auto;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: none;
  box-shadow: none;
  color: var(--c-button-text-color);
  padding: var(--c-button-padding);
  height: var(--c-button-height);
  font-size: var(--c-button-font-size);
  border-radius: var(--c-button-border-radius);
  width: var(--c-button-width);
  background-color: var(--c-button-bg-color);
  color: var(--c-button-text-color);
  border: 1px solid var(--c-button-border-color);
  box-shadow: 0 0 0 2px var(--c-button-shadow-color);
}

.c-button__rounded {
  border-radius: var(--c-button-height);
}

.c-button__default {
  --c-button-bg-color: #ffffff;
  --c-button-text-color: #333333;
  --c-button-border-color: #d9d9d9;
}

.c-button__default:hover {
  --c-button-border-color: var(--c-default-color);
  --c-button-text-color: var(--c-primary-color);
}

.c-button__default:focus {
  --c-button-border-color: var(--c-default-color);
  --c-button-text-color: var(--c-primary-color);
  --c-button-shadow-color: var(--c-primary-focus-shadow-color);
}

.c-button__default:active {
  --c-button-border-color: var(--c-primary-color);
}

.c-button__primary {
  --c-button-bg-color: var(--c-primary-color);
  --c-button-border-color: var(--c-primary-color);
}

.c-button-plain__primary {
  --c-button-bg-color: var(--c-button-plain-primary-bg-color);
  --c-button-text-color: var(--c-primary-color);
}

.c-button__primary:hover {
  --c-button-bg-color: var(--c-primary-hover-color);
  --c-button-border-color: var(--c-primary-hover-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__primary:active {
  --c-button-bg-color: var(--c-primary-active-color);
  --c-button-border-color: var(--c-primary-active-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__primary:focus {
  --c-button-shadow-color: var(--c-primary-focus-shadow-color);
}

.c-button__warning {
  --c-button-bg-color: var(--c-warning-color);
  --c-button-border-color: var(--c-warning-color);
}

.c-button-plain__warning {
  --c-button-bg-color: var(--c-button-plain-warning-bg-color);
  --c-button-text-color: var(--c-warning-color);
}

.c-button__warning:hover {
  --c-button-bg-color: var(--c-warning-hover-color);
  --c-button-border-color: var(--c-warning-hover-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__warning:active {
  --c-button-bg-color: var(--c-warning-active-color);
  --c-button-border-color: var(--c-warning-active-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__warning:focus {
  --c-button-shadow-color: var(--c-warning-focus-shadow-color);
}

.c-button__danger {
  --c-button-bg-color: var(--c-danger-color);
  --c-button-border-color: var(--c-danger-color);
}

.c-button-plain__danger {
  --c-button-bg-color: var(--c-button-plain-danger-bg-color);
  --c-button-text-color: var(--c-danger-color);
}

.c-button__danger:hover {
  --c-button-bg-color: var(--c-danger-hover-color);
  --c-button-border-color: var(--c-danger-hover-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__danger:active {
  --c-button-bg-color: var(--c-danger-active-color);
  --c-button-border-color: var(--c-danger-active-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__danger:focus {
  --c-button-shadow-color: var(--c-danger-focus-shadow-color);
}

.c-button__success {
  --c-button-bg-color: var(--c-success-color);
  --c-button-border-color: var(--c-success-color);
}

.c-button-plain__success {
  --c-button-bg-color: var(--c-button-plain-success-bg-color);
  --c-button-text-color: var(--c-success-color);
}

.c-button__success:hover {
  --c-button-bg-color: var(--c-success-hover-color);
  --c-button-border-color: var(--c-success-hover-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__success:active {
  --c-button-bg-color: var(--c-success-active-color);
  --c-button-border-color: var(--c-success-active-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__success:focus {
  --c-button-shadow-color: var(--c-success-focus-shadow-color);
}

.c-button__info {
  --c-button-bg-color: var(--c-info-color);
  --c-button-border-color: var(--c-info-color);
}

.c-button-plain__info {
  --c-button-bg-color: var(--c-button-plain-info-bg-color);
  --c-button-text-color: var(--c-info-color);
}

.c-button__info:hover {
  --c-button-bg-color: var(--c-info-hover-color);
  --c-button-border-color: var(--c-info-hover-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__info:active {
  --c-button-bg-color: var(--c-info-active-color);
  --c-button-border-color: var(--c-info-active-color);
  --c-button-text-color: var(--c-button-text-color);
}

.c-button__info:focus {
  --c-button-shadow-color: var(--c-info-focus-shadow-color);
}

.c-button__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.c-button__disabled:focus, .c-button__disabled:hover, .c-button__disabled:active {
  box-shadow: none;
}
.c-button__disabled:focus.c-button__default, .c-button__disabled:hover.c-button__default, .c-button__disabled:active.c-button__default {
  --c-button-bg-color: #ffffff;
  --c-button-text-color: #333333;
  --c-button-border-color: #d9d9d9;
}
.c-button__disabled:focus.c-button__primary, .c-button__disabled:hover.c-button__primary, .c-button__disabled:active.c-button__primary {
  --c-button-bg-color: var(--c-primary-color);
  --c-button-border-color: var(--c-primary-color);
  --c-button-text-color: var(--c-button-text-color);
}
.c-button__disabled:focus.c-button__warning, .c-button__disabled:hover.c-button__warning, .c-button__disabled:active.c-button__warning {
  --c-button-bg-color: var(--c-warning-color);
  --c-button-border-color: var(--c-warning-color);
  --c-button-text-color: var(--c-button-text-color);
}
.c-button__disabled:focus.c-button__danger, .c-button__disabled:hover.c-button__danger, .c-button__disabled:active.c-button__danger {
  --c-button-bg-color: var(--c-danger-color);
  --c-button-border-color: var(--c-danger-color);
  --c-button-text-color: var(--c-button-text-color);
}
.c-button__disabled:focus.c-button__success, .c-button__disabled:hover.c-button__success, .c-button__disabled:active.c-button__success {
  --c-button-bg-color: var(--c-success-color);
  --c-button-border-color: var(--c-success-color);
  --c-button-text-color: var(--c-button-text-color);
}
.c-button__disabled:focus.c-button__info, .c-button__disabled:hover.c-button__info, .c-button__disabled:active.c-button__info {
  --c-button-bg-color: var(--c-info-color);
  --c-button-border-color: var(--c-info-color);
  --c-button-text-color: var(--c-button-text-color);
}
.c-button__disabled:focus.c-button-plain__primary, .c-button__disabled:hover.c-button-plain__primary, .c-button__disabled:active.c-button-plain__primary {
  --c-button-bg-color: var(--c-button-plain-primary-bg-color);
  --c-button-text-color: var(--c-primary-color);
}
.c-button__disabled:focus.c-button-plain__warning, .c-button__disabled:hover.c-button-plain__warning, .c-button__disabled:active.c-button-plain__warning {
  --c-button-bg-color: var(--c-button-plain-warning-bg-color);
  --c-button-text-color: var(--c-warning-color);
}
.c-button__disabled:focus.c-button-plain__danger, .c-button__disabled:hover.c-button-plain__danger, .c-button__disabled:active.c-button-plain__danger {
  --c-button-bg-color: var(--c-button-plain-danger-bg-color);
  --c-button-text-color: var(--c-danger-color);
}
.c-button__disabled:focus.c-button-plain__success, .c-button__disabled:hover.c-button-plain__success, .c-button__disabled:active.c-button-plain__success {
  --c-button-bg-color: var(--c-button-plain-success-bg-color);
  --c-button-text-color: var(--c-success-color);
}
.c-button__disabled:focus.c-button-plain__info, .c-button__disabled:hover.c-button-plain__info, .c-button__disabled:active.c-button-plain__info {
  --c-button-bg-color: var(--c-button-plain-info-bg-color);
  --c-button-text-color: var(--c-info-color);
}

.c-button__text {
  border: 0px solid transparent;
  background-color: transparent;
}
.c-button__text:hover, .c-button__text:focus, .c-button__text:active {
  box-shadow: none;
}
.c-button__text:hover.c-button__default, .c-button__text:focus.c-button__default, .c-button__text:active.c-button__default {
  --c-button-text-color: #333333;
}
.c-button__text:hover.c-button__primary, .c-button__text:focus.c-button__primary, .c-button__text:active.c-button__primary {
  --c-button-text-color: var(--c-primary-color);
}
.c-button__text:hover.c-button__warning, .c-button__text:focus.c-button__warning, .c-button__text:active.c-button__warning {
  --c-button-text-color: var(--c-warning-color);
}
.c-button__text:hover.c-button__danger, .c-button__text:focus.c-button__danger, .c-button__text:active.c-button__danger {
  --c-button-text-color: var(--c-danger-color);
}
.c-button__text:hover.c-button__success, .c-button__text:focus.c-button__success, .c-button__text:active.c-button__success {
  --c-button-text-color: var(--c-success-color);
}
.c-button__text:hover.c-button__info, .c-button__text:focus.c-button__info, .c-button__text:active.c-button__info {
  --c-button-text-color: var(--c-info-color);
}
.c-button__text.c-button__text-bg {
  background-color: #f5f7fa;
}
.c-button__text:hover, .c-button__text:focus, .c-button__text:active {
  background-color: #f0f2f5;
}

/*# sourceMappingURL=button.css.map */
